
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.wishlist-entry {
    display : inline-block;
    min-height: 110px;
    min-width: 140px;
}

.thumbnail: {
    height: 125px
}

footer {
    margin: 50px 0;
}